* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #06050a;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  #enter {
    top: 55%;
    font-size: 18px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #enter {
    top: 45%;
    font-size: 24px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1500px) {
  #enter {
    top: 45%;
    font-size: 30px;
  }
}
@media only screen and (min-width: 1501px) and (max-width: 1920px) {
  #enter {
    top: 75%;
    font-size: 30px;
  }
}

#wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  overflow: hidden;
}

#popup {
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;

  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
  perspective: 800px;
  perspective-origin: 50% 50px;
}

.piece {
  background: rgba(95, 144, 222, 0.5);
  float: left;
}

#popup h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-family: "Noto Sans", sans-serif;
  color: #ccc;
}

/* Nav Bar */
/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    margin: 2% 0;
  }
}

.menu ul {
  display: inline-block;
  list-style-type: none;
}

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style-type: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #7f908e;
  transition: color linear 0.15s;
  text-decoration: none;
}

.menu a:hover,
.menu .current-item a {
  text-decoration: none;
  color: #b7dcd8;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    position: relative;
    display: inline-block;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
  }

  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: "";
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 13px;
    float: left;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #464f54;
    font-size: 30px;
    transition: color linear 0.15s;
    margin: 7% 0;
  }

  .toggle-nav:hover,
  .toggle-nav.active {
    text-decoration: none;
    color: #b7dcd8;
    font-family: "Noto Sans", sans-serif;
  }
}
/* Titles */
.container {
  text-align: center;
}

.titles {
  display: inline-block;
  vertical-align: middle;
  color: rgb(98, 110, 117);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #0c0c18;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #0c0c18;
  }
}

/* Initials Logo */
#initialsOne {
  background: -webkit-linear-gradient(#355c7d, #6c5b7b, #c06c84);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
}
#initialsTwo {
  background: -webkit-linear-gradient(#383838, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#wrapper {
  line-height: 70px;
  padding: 0;
  margin: 15% 0 3% 0;
  vertical-align: top;
}

/* Enter Btn */
#enter {
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #b7dcd8;
  border-radius: 10px;
  padding: 10px;
  background-color: #464f54;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
}
