* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/AdobeStock_298681782.jpeg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  overflow: scroll;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Titles */
#wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  overflow: hidden;
}

#popup {
  position: absolute;
  width: 300px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;

  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50px;
  perspective: 800px;
  perspective-origin: 50% 50px;
}

.piece {
  background: rgba(95, 144, 222, 0.5);
  float: left;
}

#popup h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 40px;
  top: 50%;
  margin-top: -20px;
  font-family: "Noto Sans", sans-serif;
  color: #ccc;
}

/* Nav Bar */
/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background: #303030;
    display: flex;
    justify-content: flex-end;
  }
}

.menu ul {
  display: inline-block;
  list-style-type: none;
}

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style-type: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #7f908e;
  transition: color linear 0.15s;
  text-decoration: none;
  font-size: 25px;
}

.menu a:hover,
.menu .current-item a {
  text-decoration: none;
  color: #b7dcd8;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    position: relative;
    display: inline-block;
    left: 85%;
  }
  .menu a {
    font-size: 12px;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    position: absolute;
    top: 120%;
    right: -49%;
    padding: 5px 12px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    z-index: 1;
  }

  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 45px;
    content: "";
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 13px;
    float: left;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #464f54;
    font-size: 30px;
    transition: color linear 0.15s;
    margin: 15%;
  }

  .toggle-nav:hover,
  .toggle-nav.active1 {
    text-decoration: none;
    color: #b7dcd8;
    font-family: "Noto Sans", sans-serif;
  }
}
/* Titles */
.container {
  text-align: center;
  height: 50px;
}

.titles {
  display: inline-block;
  vertical-align: middle;
  color: rgb(149, 156, 163);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px;
}

.cursor {
  display: inline-block;
  vertical-align: middle;
  width: 3px;
  height: 50px;
  background-color: #3c3c57;
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
  }
  50% {
    background-color: #0c0c18;
  }
}
/* Portrait */
#portrait {
  display: none;
}
.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715)
    both;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-24 10:14:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Initials Logo */
#initialsOne {
  /* background: -webkit-linear-gradient(#e96443, #904e95); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px 1px 1px #00d4d4, 1px 2px 1px #00d4d4, 1px 3px 1px #00d4d4,
    1px 4px 1px #00d4d4, 1px 5px 1px #00d4d4, 1px 6px 1px #f62459,
    1px 7px 1px #f62459, 1px 8px 1px #f62459, 1px 9px 1px #f62459,
    1px 10px 1px #f62459, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-family: "Righteous", cursive;
}
.roll-in-right {
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-24 10:13:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

#wrapper {
  line-height: 70px;
  padding: 0;
  margin: 3% 0 3% 0;
  vertical-align: top;
}
/* Content */
.main {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.collapsible {
  background-color: #0c0c18;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.collapsible:hover {
  background-color: #5b9ed9;
} */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} /* ----------------------------------------------
 * Generated by Animista on 2019-12-23 19:57:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.half {
  text-align: center;
}
.heading {
  font-family: "Pacifico", cursive;
  color: #355c7d;
  text-align: center;
  background-color: #0c0c18;
}
.contri {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}

#chart {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.text {
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  color: #5ba5e6;
  display: none;
  margin-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
  letter-spacing: 0.1em;
}

.skills {
  color: #5ba5e6;
  display: flex;
  flex-wrap: wrap;
}

.ul {
  width: 60%;
  border-bottom: 1px solid #3a3a40;
  border-radius: 2px;
  margin: 0 auto;
}
.r-text-underline {
  text-decoration: none;
}

/* Responsive */
/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .main {
    flex-direction: column;
  }
  .heading {
    font-size: 25px;
  }
  .text {
    width: 90%;
    font-size: 13px;
    padding: 3%;
    line-height: 1.5;
    margin: 5% auto;
  }
  .skills {
    display: none;
  }
  .skills ol {
    width: 35%;
    flex-grow: 1;
    margin: 0 2% 3% 3%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
  }
  .skills li {
    font-size: 13px;
  }
  .skills .ul {
    font-size: 18px;
    font-weight: 700;
  }
  .collapsible {
    padding: 5px;
    margin-bottom: 5%;
  }
  .collapsible span {
    float: right;
    margin-right: 20px;
  }
  #initialsOne {
    font-size: 100px;
    margin-bottom: 5%;
  }
  footer {
    position: fixed;
    left: 2%;
    top: 5%;
    display: flex;
    flex-direction: row;
  }
  .icons {
    height: 30px;
    margin-right: 8%;
  }
  .contri {
    width: 100%;
  }
  #chart {
    width: 100%;
  }
}
/* Tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .main {
    flex-direction: column;
  }
  .heading {
    font-size: 35px;
  }
  .text {
    font-size: 15px;
    padding: 3%;
    width: 90%;
    line-height: 1.5;
    margin: 5% auto;
  }
  .skills {
    display: none;
  }
  .skills ol {
    width: 35%;
    flex-grow: 1;
    margin: 0 2% 3% 3%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
  }
  .skills li {
    font-size: 15px;
  }
  .skills .ul {
    font-size: 20px;
    font-weight: 700;
  }
  .collapsible {
    padding: 5px;
    margin-bottom: 3%;
  }
  .collapsible span {
    float: right;
    margin-right: 8%;
  }
  #portrait {
    display: block;
    height: 175px;
    margin: 0 auto;
    border: 5px solid #5b9ed9;
    border-radius: 30%;
    margin-top: 5%;
  }
  #initialsOne {
    font-size: 120px;
  }
  footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 4%;
    top: 9%;
  }
  .icons {
    height: 40px;
    margin-bottom: 7%;
  }
  .contri {
    width: 100%;
  }
  #chart {
    width: 100%;
  }
}
/* Desktop */
@media only screen and (min-device-width: 1025px) {
  .main {
    flex-direction: row wrap;
    justify-content: space-around;
  }
  .half {
    width: 40%;
    margin-left: -4px;
  }
  .heading {
    font-size: 35px;
  }
  .text {
    font-size: 17px;
    padding: 3%;
  }
  .skills {
    display: none;
  }
  .skills ol {
    width: 35%;
    flex-grow: 1;
    margin: 0 2% 3% 3%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
  }
  .skills li {
    font-size: 17px;
  }
  .skills .ul {
    font-size: 20px;
    font-weight: 700;
  }
  .collapsible {
    padding: 5px;
    margin-bottom: 3%;
  }
  .collapsible span {
    float: right;
    margin-right: 10px;
  }
  #portrait {
    display: inline-block;
    height: 250px;
    border: 5px solid #355c7d;
    border-radius: 30%;
    margin-top: 2%;
  }
  #main-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
  }

  #wrapper {
    margin-top: 6%;
    margin-left: 5%;
  }
  .titles {
    font-size: 45px;
  }
  .container {
    height: 100px;
  }
  body {
    overflow: auto;
  }
  #initialsOne {
    font-size: 150px;
  }
  footer {
    position: fixed;
    left: 2%;
    top: 10%;
    display: flex;
    flex-direction: column;
  }
  .icons {
    height: 50px;
    margin-bottom: 12%;
  }
  .contri {
    width: 90%;
    margin: 0 auto;
  }

  #chart {
    width: 100%;
  }
}
