* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/AdobeStock_298681782.jpeg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
.enter {
  text-decoration: none;
  margin: auto;
  color: white;
  font-size: 50px;
}

/* Nav Bar */
/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    background: #303030;
    display: flex;
    justify-content: flex-end;
  }
}

.menu ul {
  display: inline-block;
  list-style-type: none;
}

.menu li {
  margin: 0px 50px 0px 0px;
  float: left;
  list-style-type: none;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  color: #7f908e;
  transition: color linear 0.15s;
  text-decoration: none;
  font-size: 25px;
}

.menu a:hover,
.menu .current-item a {
  text-decoration: none;
  color: #b7dcd8;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    position: relative;
    display: inline-block;
    left: 85%;
  }
  .menu a {
    font-size: 12px;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    position: absolute;
    top: 120%;
    right: -49%;
    padding: 5px 12px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    z-index: 1;
  }

  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 45px;
    content: "";
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }
  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 13px;
    float: left;
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #464f54;
    font-size: 30px;
    transition: color linear 0.15s;
    margin: 15%;
  }

  .toggle-nav:hover,
  .toggle-nav.active1 {
    text-decoration: none;
    color: #b7dcd8;
    font-family: "Noto Sans", sans-serif;
  }
}
/* Initials Logo */
#initialsOne {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  text-align: center;
  font-size: 200px;
  height: 100%;
  text-shadow: 1px 1px 1px #00d4d4, 1px 2px 1px #00d4d4, 1px 3px 1px #00d4d4,
    1px 4px 1px #00d4d4, 1px 5px 1px #00d4d4, 1px 6px 1px #f62459,
    1px 7px 1px #f62459, 1px 8px 1px #f62459, 1px 9px 1px #f62459,
    1px 10px 1px #f62459, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-family: "Righteous", cursive;
}
.roll-in-right {
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-24 10:13:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

#wrapper {
  line-height: 70px;
  padding: 0;
  margin: 13% 0 3% 0;
  vertical-align: top;
}
.text {
  color: #5b9ed9;
  letter-spacing: 0.0625em;
  word-wrap: break-word;
  font-weight: 800;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.intro {
  text-align: right;
  letter-spacing: normal;
}
.spacing {
  padding: 5px;
}
.initials {
  color: #00d4d4;
  text-shadow: 1px 1px 1px #00d4d4, 1px 2px 1px #00d4d4, 1px 3px 1px #00d4d4,
    1px 4px 1px #00d4d4, 1px 5px 1px #00d4d4, 1px 6px 1px #f62459,
    1px 7px 1px #f62459, 1px 8px 1px #f62459, 1px 9px 1px #f62459,
    1px 10px 1px #f62459, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  font-size: 100px;
}

/* Btn - About Me */

.brk-btn {
  position: relative;
  background: none;
  color: aqua;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid aqua;
  padding: 0.5em 1em;
}
.brk-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #222;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
.brk-btn:hover::before {
  right: 80%;
}
.brk-btn:hover::after {
  left: 80%;
}
/* Footer/Social Media Icons */
/* Responsive */
/* Mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #wrapper {
    margin: 35% 0 3% 0;
    padding-bottom: 20%;
  }
  .intro {
    margin-right: 3%;
    margin-bottom: 7%;
  }
  .text {
    font-size: 17px;
  }
  .initials {
    font-size: 27px;
  }
  .brk-btn {
    left: 60%;
    font-size: 17px;
  }
  footer {
    width: 100%;
    position: fixed;
    left: 2%;
    top: 9%;
  }
  .icons {
    height: 40px;
  }
}
/* Tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  #wrapper {
    margin: 15% 0 3% 55%;
    padding-bottom: 20%;
  }
  .intro {
    margin-right: 5%;
    margin-bottom: 7%;
  }
  .text {
    font-size: 27px;
  }
  .initials {
    font-size: 50px;
  }
  .brk-btn {
    left: 75%;
    font-size: 18px;
  }
  footer {
    width: 100%;
    position: fixed;
    left: 2%;
    top: 9%;
  }
  .icons {
    height: 50px;
  }
}

/* Desktop */
@media only screen and (min-device-width: 1025px) {
  #wrapper {
    margin: 10% 0 7% 75%;
  }
  .intro {
    margin-right: 3%;
    margin-bottom: 3%;
  }
  .text {
    font-size: 50px;
  }
  .brk-btn {
    left: 85%;
    font-size: 25px;
  }
  footer {
    width: 100%;
    position: fixed;
    left: 2%;
    top: 9%;
  }
  .icons {
    height: 60px;
  }
}

/* Text Animation */
.blink-1 {
  -webkit-animation: blink-1 2s both;
  animation: blink-1 2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-12-24 10:33:55
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
