<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <title>Michelle Tanzil</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/aboutstyles.css" type="text/css">
  <script src="../js/aboutapp.js"></script>
</head>

<body>
  <nav class="menu">
    <ul class="active">
      <li><a href="home.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <a class="toggle-nav" href="#">&#9776;</a>
  </nav>
  <div id="main-container">
    <img src="../images/Small.jpg" alt="Michelle's Portrait" id="portrait" class="puff-in-center">
    <div id="wrapper">
      <div id="initialsOne" class="roll-in-right">MT</div>
    </div>
  </div>
  <div class="container">
    <div class="titles"></div>
    <div class="cursor"></div>
  </div>
  <main>

    <div class="main">
      <div class="half">
        <button type="button" class="collapsible heading">About MT <span>+</span></button>
        <p class="text slide-in-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro eligendi amet
          quos culpa,
          distinctio voluptatum iure harum. Iusto, vel cumque totam dolorum repellendus eum nisi, incidunt minus
          asperiores vero natus?Eum hic laborum vero itaque voluptatibus tempora consectetur, reiciendis dolorum quaerat
          expedita quo? Modi voluptas eveniet quae illo veritatis, quam doloribus magnam atque facilis placeat iste
          consequatur dignissimos aspernatur deserunt.</p>
      </div>
      <div class="half">
        <button type="button" class="collapsible heading">Skills <span>+</span></button>
        <ul class="skills slide-in-bottom">
          <ol>
            <li class="ul">Languages</li>
            <li>C#</li>
            <li>Python</li>
            <li>JavaScript</li>
          </ol>
          <ol>
            <li class="ul">Frameworks</li>
            <li>Django</li>
            <li>Flask</li>
            <li>Entity Framework</li>
            <li>Express.js</li>
            <li>AngularJS</li>
            <li>Node.js</li>
            <li>.NET Core</li>
          </ol>
          <ol>
            <li class="ul">Databases</li>
            <li>MySQL</li>
            <li>MongoDB</li>
          </ol>
          <ol>
            <li class="ul">Other</li>
            <li>Windows Operating System</li>
            <li>Marketing & Sales</li>
          </ol>


        </ul>
      </div>
    </div>
  </main>
</body>

</html>